{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/detail.css">
{% endblock %}
{% block content %}
    <div class="container-fluid p-3">
        <section>
            <div class="d-flex justify-content-around m-lg-5 m-4">
                <div class="mr-lg-5 p-5 d-flex flex-column detail">
                    <div class="row  d-flex justify-content-sm-between justify-content-md-between ">
                        <h1 class="type p-1 ">{{ detail.title }}</h1>
                        <h2 class="price p-2">{{ detail.price }}€</h2>
                    </div>
                    <div>
                        <h2 class="nameDetail type p-1 ">{{ detail.name }}</h2>

                        <p class="description pt-3 pb-3">{{ detail.description }}</p>
                    </div>
                    <div class="mb-3">
                        {% for representation in representations %}
                            <p class="description p-2">Cette évènement se joue au {{ representation.place }},
                                le {{ representation.datetime|date("d/m/Y à H:i") }}.</p>
                        {% endfor %}
                    </div>
                    <a class="btn btn-primary" href="https://ccn-orleans-reservations.mapado.com/" target="_blank">Réservation </a>

                </div>
                <div class="d-sm-none d-lg-block d-none">
                    <img src="{{ detail.image }}" alt="image {{ detail.name }}" class="imageDetail">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
