{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/detail.css">
    {#<link rel="stylesheet" href="/assets/css/home_page.css">#}
{% endblock %}
{% block content %}
    <div class="container-fluid p-5">
    <section>
        <div class="d-flex justify-content-around m-lg-5 m-4">
            <div class="mr-lg-5 p-4 d-flex flex-column justify-content-between detail">
                <h2>{{ detail.title }}</h2>
                <h3>{{ detail.name }}</h3>
                <div>
                    <p>{{ detail.description }}</p>
                </div>
                <div class="mb-3">
                    <p>Cette évènement se joue au {{ detail.place }},
                    le {{ detail.datetime|date("d/m/Y à H:i") }}.</p>
                </div>
            </div>
            <div class="d-sm-none d-lg-block d-none">
                <img src="{{ detail.image }}" alt="image {{ detail.name }}" class="imageDetail">
            </div>
        </div>
    </section>
{% endblock %}
