{% extends 'layoutAdmin.html.twig' %}
{% block content %}
    <div class="container-fluid m-5">
        <h1 class=" col-6">Évènement : {{ event.title }}</h1>
        <p class="text_admin col-5">Titre : {{ event.title }}</p>
        <p class="text_admin col-5">Type : {{ event.name }}</p>
        <p class="text_admin col-5">Date : {{ event.datetime }}</p>
        <p class="text_admin col-5">Lieu : {{ event.place }}</p>
        <p class="text_admin col-5">Description : {{ event.description }}</p>
        <p class="text_admin col-5">Image : {{ event.image }}</p>
        <img src="{{ event.image }}">
        <p class="text_admin col-5">Prix : {{ event.price }}</p>
        <p class="text_admin col-5">Durée : {{ event.duration }}</p>
        <button type="button" class="btn btn-success">
            <a class="text_admin col-5" href="/admin/edit/{{ event.event_id }}">Modifier</a>
        </button>
        <button type="button" class="btn btn-danger">
            <a class="text_admin col-5" href="/admin/delete/{{ event.id }}">Supprimer</a></button>
        <button type="button" class="btn btn-dark">
            <a class="text_admin col-5" href="/admin/index">Retour</a></button>
    </div>
{% endblock %}
