<div class="events_container container-fluid p-3">
    <div class="row">
        {% for event in events %}
        <div class="event m-3 position-relative">
            <img class="w-100 h-100 event_image" src="{{ event.image }}" alt="image de {{  event.name }}">
            <p class="type position-absolute fixed-top mt-4 pl-3 pr-3">{{ event.name }}</p>
            <a href="/event/detail/{{ event.id }}">
                <div class="event-title position-absolute fixed-bottom pl-3">
                    <p class="datetime mb-0 mt-2">{{ event.place }}</p>
                    <p class="datetime mb-0">{{ event.datetime|date("d/m/Y - H:i") }}</p>
                    <h3 class="title mt-2 pb-1">{{ event.title }}</h3>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>